@import "../../../../styles/variables";

:host, grid-addon-item {
	// display: block;
	
	&.default {
		.content {
			background-color: $bkSecondaryColor;
		}
	}
	
	&.rescuePlus {
		.content {
			background: $darkBlack;
		}	
	}
	
	.content {
		position: absolute;
		width: 90%;
		height: 90%;
		color: $invertedDefaultTextColor;
		
	}
	
	.grid__addon__item__icon {
		width: 40%;
		margin: 15% auto 10px;
		img {
			width: 100%;
		}
	}
	.grid__addon__item__text {
		text-align: center;
		margin: 0 10px;
	}
}
