:host, horizontal-scroller {
	width:100%;
	overflow: hidden;
	float: left;
	.horizontal-scroller{
		width:1200px;
		height:800px;
		position:relative;
		float:left;
		overflow: hidden;
	}
	
	
	horizontal-scroller-content {
		float: left;
		transition: transform 300ms;
	}
	
	.hs-child_components ~ * {
		display: none;
	}
}
