.res-square {
  float:left;
  position: relative;
  overflow:hidden;
  box-sizing: border-box; 
  padding: 0;

}

.res-square .content {
  position: absolute;
  height:90%;
  width:90%; 
  padding: 5% 5%;
  box-sizing: border-box; 
}


@media (max-width: 768px) { 
  .res-square {
    height: 44vw;
    margin: 1%;
    width: 44vw;
  }
  .res-square:nth-child(2n-1){
    margin-left:0; /* or use 20px */
  }

  .res-square:nth-child(2n){
      margin-right:0; /* or use 20px */
  }

}


@media (min-width: 768px) { 
  .res-square {
    height: 18.5vw;
    margin: 1%;
    width: 18.5%;
  }
  .res-square:nth-child(2n-1){
    margin-left:0; /* or use 20px */
  }

  .res-square:nth-child(2n){
      margin-right:0; /* or use 20px */
  }

}
