:host, checkbox{
	display: flex;
  	align-items: flex-start;
	  
	.content {
		flex: 1;
		padding: 0 5%;
	}
	.checkbox {
		
		&.checked {
			background-image: url('/images/icons/tick.svg');
			background-size: 80% 80%;
			background-repeat: no-repeat;
			background-position: center center;
		}
	}
	
	&.reverse{
		.checkbox {
			order: 0;
		}
		.content {
			order: 1;
		}
	}
	
}