<div class="container default_container">
	<div class="md-progress-circular">
		<div class="md-spinner-wrapper md-mode-indeterminate">
			<div class="md-inner">
				<div class="md-gap"></div>
				<div class="md-left">
					<div class="md-half-circle"></div>
				</div>
				<div class="md-right">
				<div class="md-half-circle"></div>
			</div>
		</div>
		</div>
	</div>
	<blockquote>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
	<footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
	</blockquote>
</div>