:host, payment-options {
	.payments{
		width: 100%;
		float: left;
		margin: 20px 0 0;	
	}
	form {
		clear: both;
	}
	
	.form--nolabel {
		margin: 20px 0;
	}
	
	.btn {
		float: left;
	}
	
	.credit-details {
		display: flex;
		input {
			flex: 1;
			margin-right: 5px;
		}
		input:last-child {
			flex: 3;
			margin-right: 0;
		}
	}	
}