<div class="banner" background-image="{'image':'url(images/background/membership.bkg-image.jpg)', 'size':'cover', 'position':'center 20%', 'repeat':'no-repeat'}">
	<div class="container">
		<div class="banner-inner">
			<div class="row">
				<h1 class="col-md-6 col-md-offset-3">Now Rescuing Family Members</h1>
				<h3 class="col-md-6 col-md-offset-3">Whoever's car they're in, driver or passenger, we'll be there</h2>
			</div>
			<div class="row controls">
				<div class="col-xs-12 col-md-3">
					<form-incrementor min=0 max=2 image="images/icons/adult.png" ></form-incrementor>
					</div>
				<div class="col-xs-12 col-md-3">				
					<form-incrementor min=0 max=6 image="images/icons/child.png"></form-incrementor>
				</div>
				<div class="col-xs-12 col-md-3">
					<checkbox class="">
						<h1>Add Rescue Plus</h1>
						<p>Just $4.25 extra per month</p>
					</checkbox>
				</div>
				<div class="col-xs-12 col-md-3"></div>
				

			</div>
			</div>
	</div>
</div>