<div class="masthead">
	<div class="container ">
		<div class="masthead-inner">
			<div class="row masthead-inner__text">
				<h1 class="col-md-6 col-md-offset-3">Now Rescuing Family Members</h1>
				<h4 class="col-md-6 col-md-offset-3">Whoever's car they're in, driver or passenger, we'll be there</h4>
			</div>
			<div class="row controls">
				<div class="col-xs-12 col-md-3">
					<form-incrementor min=1 max=2 [index]="_state.membersCount.adults" image="images/icons/adult.png" (update)="updateAdults($event)" ></form-incrementor>
					<h4>Adults + 17 Years</h4>
					</div>
				<div class="col-xs-12 col-md-3">				
					<form-incrementor min=0 max=6 [index]="_state.membersCount.children" image="images/icons/child.png" (update)="updateChildren($event)"></form-incrementor>
					<h4>Children - 17 Years</h4>
				</div>
				<div class="col-xs-12 col-md-3">
					<checkbox [checked]="_state.addons" (update)="updateRescuePlus($event)" class="checkbox--header">
						<h3>Add Rescue Plus</h3>
						<h5>Just €4.25 extra per month</h5>
							
					</checkbox>
					<h4>Nationwide tow if needed and you’ll get a choice of hire car, accommodation or travel expenses</h4>
				</div>
				<div class="col-xs-12 col-md-3">
					<div class="btn btn-default btn-block" [router-link]="['/membership/addons']" >
						<h3>${{_state.priceEstimate.initial}} per month</h3>
						<h3><strong>Join the AA</strong></h3						</h3>
					</div>
					<h4>Renew Membership</h4>
				</div>
			</div>
		</div>
	</div>
</div>
<!--<div class="container container--default">
	<section>
		<p>AA Membership covers you, whether you’re a driver or a passenger in any car. And more than 80%* of the time we fix our Member’s cars right there - on the roadside.</p>
		<h1>Whats Offered</h1>
	</section>
	
	<section class="row">
		<div class="col-xs-12 col-md-4 border">
			<h3>National Recovery</h3>
			<p>80% of the time we fix our Members cars on the roadside*</p>
		</div>
		<div class="col-xs-12 col-md-4 border">
			<h3><strong>FREE</strong> Homestart</h3>
			<p>Cover at home or where your car is usually kept</p>
		</div>
		<div class="col-xs-12 col-md-4 border">
			<h3>Add Rescue Plus</h3>
			<p>Nationwide tow if needed and you’ll get a choice of hire car, accommodation or travel expenses</p>
		</div>
	</section>
</div>-->