<div class="masthead">
	<div class="container ">
		<div class="masthead-inner">
			<div class="row masthead-inner__text">
				<h1 class="col-md-6 col-md-offset-3">Now Rescuing Family Members</h1>
				<h4 class="col-md-6 col-md-offset-3">Whoever's car they're in, driver or passenger, we'll be there</h4>
			</div>
			<div class="row controls">
				<div class="col-xs-12 col-md-3">
					<form-incrementor min=0 max=2 image="images/icons/adult.png" ></form-incrementor>
					</div>
				<div class="col-xs-12 col-md-3">				
					<form-incrementor min=0 max=6 image="images/icons/child.png"></form-incrementor>
				</div>
				<div class="col-xs-12 col-md-3">
					<checkbox class="checkbox--header">
						<h3>Add Rescue Plus</h3>
					</checkbox>
				</div>
				<div class="col-xs-12 col-md-3">
					<div class="btn btn-default btn-block" [router-link]="['/membership/addons']" >
						<h3>$8.25 per month</h3>
						<p><strong>Join the AA</strong></p>
						</div>
				</div>
			</div>
		</div>
	</div>
</div>