:host {
	.paymentFrequency{
		width: 100%;
		
		margin: 20px 0;	
	}
	
	
	.push--top {
		margin-top: 12px;
	}
	form {
		clear: both;
	}
	
	.form--nolabel {
		margin: 20px 0 0px;
	}
	
	.credit-details {
		display: flex;
		input {
			flex: 1;
			margin-right: 5px;
		}
		input:last-child {
			flex: 3;
			margin-right: 0;
		}
	}	
}