<div class="container default_container">
	<tabs class="blue paymentFrequency" (selectedTab)="onUpdatedPaymentFrequency($event)">
		<tab tab-title="Pay Monthly">
			<table class="simple">
				<tr>
					<td>AA Family Membership</td>
					<td>$22.50</td>
				</tr>
				<tr>
					<td>Whats Included</td>
					<td>Price Breakdown</td>
				</tr>
			</table>
		</tab>
		<tab tab-title="One Payment">
			<table class="simple">
				<tr>
					<td>AA Family Membership</td>
					<td>$180.00</td>
				</tr>
				<tr>
					<td>Whats Included</td>
					<td>Price Breakdown</td>
				</tr>
			</table>
		</tab>
	</tabs>

	<form>
		<div class="form-group block-input">
			<label for="email">Do you have a discount code?</label>
			<input type="email" class="form-control" control="email">
		</div>
	</form>
	
	<div  [router-link]="['/membership/payment-options']" class="btn btn-default btn-block">
	<h4>Continue to Payment Screen</h4>
	</div>
	<div>