<div class="container container--fs">
	<h3 class="title">See Whats Included</h3>
	<tabs class="blue paymentFrequency" selectedtab="monthly" (onselecttab)="onUpdatedPaymentFrequency($event)">
		<tab tab-title="Pay Monthly" tab-value="monthly">
			<table class="simple">
				<tr>
					<td>AA Family Membership</td>
					<td>${{state.priceEstimate.initial}}</td>
				</tr>
				<tr>
					<td>Whats Included</td>
					<td>Price Breakdown</td>
				</tr>
			</table>
		</tab>
		<tab tab-title="One Payment" tab-value="single">
			<table class="simple">
				<tr>
					<td>AA Family Membership</td>
					<td>${{state.priceEstimate.initial * 12}}</td>
				</tr>
				<tr>
					<td>Whats Included</td>
					<td>Price Breakdown</td>
				</tr>
			</table>
		</tab>
	</tabs>

	<!--<form>
		<div class="form-group block-input">
			<label for="email">Do you have a discount code?</label>
			<input type="email" class="form-control" control="email">
		</div>
	</form>-->

	<div [router-link]="['/membership/payment-options']" class="btn btn-default btn-block push--top">
		<h4>Continue to Payment Screen</h4>
	</div>
	<hr>
	<div class="row">
		 <div class="col-xs-6"><div class="btn btn-default btn-block">Save Quote</div></div>
		 <div class="col-xs-6"><div class="btn btn-default btn-block">Call</div></div>
	</div>
	

	
	<div>